<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
	title : 'Detalle del producto ' + nombre
}) %>
<%- include('../partials/header')  %>

<body class="productDetail">
  <main class="main__product">
    <section class="main__product--section1">
      <article class="main__product--producto">
        <!-- <img src="/img/22xtcadvancedsl291.png" alt=""> -->
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[0] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[1] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[2] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[3] || 'Producto-sin-imagen.jpg'%>" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper banner__product__detail">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[0] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[1] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[2] || 'Producto-sin-imagen.jpg'%>" />
            </div>
            <div class="swiper-slide">
              <img src="/images/productos/<%= mainImg[3] || 'Producto-sin-imagen.jpg'%>" />
            </div>
          </div>
        </div>
        <!--  -->
      </article>
      <article class="main__product--descripcion">
        <h1><%= nombre %></h1>
        <h2>$<%= toThousand(precio) %></h2>
        <p>
          24 CUOTAS SIN INTERES DE $<%= toThousand((precio/24).toFixed(0)) %> CON  BBVA  <i class="fa-solid fa-credit-card"></i>
        </p>
        <div class="box__compra">
          <div class="box__pedido">
            <label class="box__pedido--label" for="">Rodado</label>
            <select class="box__pedido--input" name="" id="">
              <option value="">Elige un rodado</option>
              <% rodado.forEach(rodado => { %>
                <option value="<%= rodado + 1 %>"><%= rodado %></option>
              <% }) %>
            </select>
            <!-- <input class="box__pedido--input" type="text"> -->
          </div>
          <div class="box__pedido">
            <label class="box__pedido--label" for="">Color</label>
            <select class="box__pedido--input" name="" id="">
              <option value="">Elige un color</option>

              <% color.forEach(color => { %>
                <option value="<%= color + 1 %>"><%= color %></option>
              <% }) %>

            </select>
            <!-- <input class="box__pedido--input" type="text"> -->
          </div>
          <!-- </div> -->
          <div class="box__agregar">
            <div class="box__agregar--botones">
              <button class="box__agregar--button1">-</button>
              <p>1</p>
              <button class="box__agregar--button2">+</button>
            </div>
            <button class="box__agregar--button3">Agregar al carrito</button>
          </div>
          <div class="box__envio">
            <input type="text" placeholder=" Codigo Postal">
            <button>Calcular</button>
          </div>
        </div>
      </article>
    </section>
    <h2 class="titulos__producto">Caracteristicas</h2>
    <section class="main__product--section2">
      <article>
        <h3><%= nombre %></h3><br>
        <p>

          <%= descripcion %>
          
        </p><br>
      </article>
    </section>
    <h2 class="titulos__producto">Productos relacionados</h2>
    <section class="main__product--section3">

        <% productsBici.forEach(product => { %>
          <%- include('../partials/product-card', {product}) %>
        <% }) %>

    </section>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
    </script>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>