<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/formProducts.css">
        <title>Editar producto</title>
      </head>
<body class="product-edit">
<%- include('../partials/headerAdmin') %>
<main class="product-edit__main">
    <h2>Editar producto</h2>
    <section class="products__section">
        <form class="products__form" action="/products/actualizar/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="products__form__box">
                <label class="products__form__box__label" for="name">Nombre del producto</label>
                <input class="products__form__box__input" id="name" name="nombre" type="text" value="<%= nombre %>">
            </div>
            <!--<div class="products__form__box">
                <label class="products__form__box__label" for="idProduct">ID producto</label>
                <input class="products__form__box__input" id="idProduct" name="idProduct" type="text" value="">
            </div>-->
            <div class="products__form__box">
                <label class="products__form__box__label" for="image">Agregar imagen</label>
                <input class="products__form__box__input" id="image" type="file" multiple name="img-porduct" accept="image/*">
            </div>
            <div class="products__form__box">
                <label class="products__form__box__label" for="category">Categoría</label>
                <select class="products__form__box__input" id="categoria" name="categoria">
                    <option value="" selected hidden>
                    </option>
                    <option <%= categoria === "bicicletas" && "selected" %> value="bicicletas">Bicicletas</option>
                    <option <%= categoria === "Equipamiento" && "selected" %> value="Equipamiento">Equipamiento</option>

                    </select>
            </div>
            <div class="products__form__box">
                <label class="products__form__box__label" for="rodado">Rodado</label>
                <input type="text" class="products__form__box__input" id="rodado" name="rodado" placeholder="Ej: 19,20,29" value="<%= rodado %>">
                <!-- <select class="products__form__box__input" id="rodado" name="rodado">
                    <option value="" selected hidden>
                        Seleccione...
                    </option>
                    <option value="rodado1">rodado 1</option>
                    <option value="rodado2">rodado 2</option>
                    <option value="rodado3">rodado 3</option>
                    </select> -->
            </div>
            <div class="products__form__box">
                <label class="products__form__box__label" for="color">Color</label>
                <input type="text" class="products__form__box__input" id="color" name="color" placeholder="Ej: rojo,blanco negro" value="<%= color %>">
                <!-- <select class="products__form__box__input" id="color" name="color">
                    <option value="" selected hidden>
                        Seleccione...
                    </option>
                    <option value="color1">color 1</option>
                    <option value="color2">color 2</option>
                    <option value="color3">color 3</option>
                    </select> -->
            </div>
            <div class="products__form__box">
                <label class="products__form__box__label" for="price">Precio</label>
                <input class="products__form__box__input" id="price" name="precio" type="text" value="<%= precio %>">
            </div>
            <div class="products__form__box">
                <label class="products__form__box__label" for="descrption">Descripción</label>
                <textarea class="products__form__box__input" rows="3" name="descripcion" id="descrption"><%= descripcion %></textarea>
            </div>
            <div class="products__form__box--button">
                <button class="products__button" >Guardar cambios</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>