<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
	title : 'Home'
}) %>

    <%- include('./partials/header') %>

        <body class="home">
            <main class="home__main">
                <section class="home__main__section">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide banner__home"><img src="/images/banner-bici.jpg" alt=""></div>
                            <div class="swiper-slide banner__home"><img src="/images/Banner-Categor_1.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/banner-mobile.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="/images/Banner-Bicicletas-Monta.jpg" alt=""></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="autoplay-progress">
                            <svg viewBox="0 0 48 48">
                                <circle cx="24" cy="24" r="20"></circle>
                            </svg>
                            <span></span>
                        </div>
                    </div>
                </section>
            <% if (products.length) { %>


                <h2 class="home__titulos">Resultado de busqueda para "<%= keyword %>"</h2>

                <section class="home__main__section--productos">
                  
                        <% products.forEach(product => { %>
                            <%- include('./partials/product-card', {product}) %>
                        <% }) %>
                    
                </section>

            <% }else{ %>
                <div class="no-existe">
                    <h3>No hay productos relacionados con "<%= keyword %>" para mostrar >>>
                    volver al  <a  href="/">Home</a> </h3>
                    <img src="/images/productos/Producto-sin-imagen.jpg" alt="">
                </div>
                <!-- <img src="/images/productos/Producto-sin-imagen.jpg" alt=""> -->

            <% } %>
            </main>
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                const progressCircle = document.querySelector(".autoplay-progress svg");
                const progressContent = document.querySelector(".autoplay-progress span");
                var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 30,
                    centeredSlides: true,
                    autoplay: {
                        delay: 2500,
                        disableOnInteraction: false
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    on: {
                        autoplayTimeLeft(s, time, progress) {
                            progressCircle.style.setProperty("--progress", 1 - progress);
                            progressContent.textContent = `${Math.ceil(time / 1000)}s`;
                        }
                    }
                });
            </script>
        </body>
        <%- include('./partials/footer') %>

</html>