<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
	title : 'Perfil del usuario'
}) %>
<%- include('../partials/header')  %>

<body class="perfil">
    <main class="main__perfil">   
        <form action="/users/actualizar/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form">
                <section class="section__perfil__foto">
                    <h3>Foto de Perfil</h3>
                    <article class="article__foto">
                        <img class="foto_perfil" src="/images/usuarios/<%=imgUser || 'imagen_default_user.jpg'%>"  alt="">
                    </article>
                    <input class="cambiar__image" type="file" name="img-user" >
                    <article>
                        <h2>Hola <%= nombre %> <%= apellido %></h2>
                    </article>
                </section>
                <section class="section__perfil__datos">
                    <h3>Datos Personales</h3>
                    <article class="section__perfil__datos--personal">
                        <!-- <form action="/" class="form"> -->
                            <div class="form__box">
                                <label class="form__label" for="name">Nombre</label>
                                <input class="form__input"  id="name" type="text" placeholder="Nombre" name="nombre" value="<%= nombre %>">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="apellido">Apellido</label>
                                <input class="form__input" id="apellido" type="text" placeholder="Apellido" name="apellido" value="<%= apellido %>">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                            <div class="form__box ">
                                <label class="form__label" for="email">Email</label>
                                <input class="form__input" id="email" type="email" placeholder="Email" name="email" value="<%= email %>">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="edad">Edad</label>
                                <input class="form__input" id="edad" type="number" placeholder="Edad" value="<%= edad %>"  name="edad">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="password">Contrase単a</label>
                                <input class="form__input"  id="password" type="password"  name="password" placeholder="Contrase単a" value="<%= password %>">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                            <div class="form__box">
                                <label class="form__label" for="password2">Confirma tu contrase単a</label>
                                <input class="form__input"  id="password2" type="password" placeholder="Confirma tu contrase単a" name="password2">
                                <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                            </div>
                        <!-- </form> -->
                    </article>
                    <h3>Datos del Domicilio</h3>
                    <article class="section__perfil__datos--personal">
                    <div class="form__box">
                        <label class="form__label" for="calle">Calle</label>
                        <input class="form__input" id="calle" type="text" placeholder="Calle" value="<%= calle %>" name="calle">
                        <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                    </div>
                        <div class="form__box">
                            <label class="form__label" for="altura">Altura de la calle</label>
                            <input class="form__input" id="altura" type="text" placeholder="Altura" value="<%= altura %>" name="altura">
                            <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                        </div>
                        <div class="form__box">
                            <label class="form__label" for="provincia">Provincia</label>
                            <input class="form__input" id="provincia" type="text"  name="provincia" placeholder="Provincia" value="<%= provincia %>">
                            <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                        </div>
                        <div class="form__box">
                            <label class="form__label" for="localidad">Localidad</label>
                            <input class="form__input" id="localidad" type="text" name="localidad" placeholder="Localidad" value="<%= localidad %>">
                            <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                        </div>
                        <div class="form__box">
                            <label class="form__label" for="postal">Codigo Postal</label>
                            <input class="form__input" id="postal" type="text" name="postal" placeholder="Codigo Postal" value="<%= postal %>">
                            <!-- <small class="form__msg-error">Este campo es obligatorio</small> -->
                        </div>
                    </article>
                </section>
            </div>
            <button class="perfil__button" >Guardar</button>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>